/**
 * FILE: style.css
 * AUTHOR: Araha Smas
 * DATE: 2019-12-09T13.49
 * DESCRIPTION: Style sheet for "Prince"
 */
@import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre:400,700|Courier+Prime:400,400i,700,700i|Oswald:400,700|Roboto+Slab:400,700&display=swap');
:root {
    --normal-font-size: 1em;
    --big-font-size: 120%;
    --small-font-size: 80%;
    --smaller-font-size: 61%;
    --c-font-family: "Averia Serif Libre", cursive;
    --s-font-family: "Roboto Slab", serif;
    --ss-font-family: "Oswald", sans-serif;
    --ms-font-family: "Courier Prime", monospace;
}
body {
    font-family: var(--s-font-family);
    font-size: var(--normal-font-size);
    column-count: 3;
    column-gap: 10px;
}
@media screen
and (min-width: 1400px) {
    body {
        column-count: 4;
        column-gap: 10px;
    }
}
@media screen
and (min-width: 900px)
and (max-width: 1399px) {
    body {
        column-count: 3;
        column-gap: 10px;
    }
}
@media screen
and (min-width: 700px)
and (max-width: 899px) {
    body {
        column-count: 2;
        column-gap: 8px;
    }
}
@media screen
and (max-width: 699px) {
    body {
        column-count: 1;
        column-gap: 0;
    }
}
@media print {
    body {
        font-size: 12pt;
        column-count: 3;
        column-gap: 10px;
    }
}
a, a.extlink {
    color: inherit;
    background: inherit;
    text-decoration: none;
}
@media not print {
    a.extlink::after {
        content: " >>";
        color: grey;
	background: white;
    }
}
div.head{
    font-family: var(--c-font-family);
    border-style: solid;
    border-width: 1px;
    text-align: center;
    padding-top: .5em;
    padding-bottom: .5em;
    margin-left: 0;
    margin-right: 0;
}
div.footer {
    font-family: var(--ss-font-family);
    border-style: solid;
    border-width: 1px;
    font-size: var(--smaller-font-size);
    text-align: center;
    padding: .25em;
		margin-top: 1em;
    margin-left: 2em;
    margin-right: 0em;
}
div.footer p {
    margin-top: .125em;
    margin-bottom: .125em;
}
div.title {
    font-size: var(--big-font-size);
    font-weight: bold;
}
div.subtitle {
    font-size: var(--small-font-size);
    font-weight: bold;
}
div.subsubtitle {
    font-size: var(--small-font-size);
    font-weight: normal;
}
div.body {
}
div.item-level-1 {
    font-family: var(--ss-font-family);
    text-align: left;
    margin-left: 0;
    margin-top: .75em;
    margin-bottom: -0.25em;
}
@media print {
    div.item-level-1 {
        page-break-after: avoid;
    }
}
div.item-level-2 {
    font-family: var(--ss-font-family);
    font-size: var(--small-font-size);
    text-align: left;
    margin-left: 1em;
    margin-top: .25em;
    margin-bottom: -0.125em;
}
@media print {
    div.item-level-2 {
        page-break-after: avoid;
    }
}
div.item-level-3 {
    font-family: var(--s-font-family);
    font-size: var(--small-font-size);
    text-align: justify;
    margin-top: 0;
    margin-left: 2em;
}
div.subsection {
    font-family: var(--ss-font-family);
    font-size: var(--small-font-size);
    text-align: justify;
    margin-top: 0;
    margin-left: 2em;
}
@media print {
    div.subsection {
        page-break-after: avoid;
    }
}
div.item-level-4 {
    font-family: var(--s-font-family);
    font-size: var(--small-font-size);
    text-align: justify;
    margin-top: 0;
    margin-left: 3em;
}
div.item-level-5 {
    font-weight: bold;
    font-size: var(--big-font-size);
    color: red;
    background: yellow;
}
span.kbd {
    font-family: var(--ms-font-family);
    border-style: solid;
    border-width: 1px;
    padding-left: 3px;
    padding-right: 3px;
    background: yellow;
}
span.variable, span.varwl {
    font-family: var(--ms-font-family);
    font-style: italic;
    background: lightblue;
}
span.function {
    font-family: var(--ms-font-family);
    font-style: italic;
    background: pink;
}
span.cmd {
    font-family: var(--ms-font-family);
}
span.cmd::before {
    content: "[";
}
span.cmd::after {
    content: "]";
}
span.tt {
    font-family: var(--ms-font-family);
    font-style: italic;
}
span.roman {
    font-family: var(--s-font-family);
    font-style: normal;
}
